.emojiSearch {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emojiBox{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}
li {
    list-style-type: none;
}
.emojiSearchTitle{
    padding: 10px;
}
.emojiBox > input{
    border: none;
    outline: 0;
    font-size: 16px;
    background: rgb(107, 106, 106);
    margin: 2px;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    padding: 10px;
}
.dataFound{
    padding: 20px;
    background: rgb(230, 227, 227);
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 13rem;
}