#contact{
    overflow: hidden;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.contactTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.contactModes{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.contactMode{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(61, 60, 60);
}
.contactImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.contactText > p{
    font-size: 0.9rem;
    font-weight: 200;
}
@media screen and (max-width: 720px){
    .contactText > p{
        font-size: 2vw
    }
}
@media screen and (max-width: 480px){
    .contactText > p{
        font-size: 2vw
    }
    .contactImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .contactText > h2{
        font-size: 5vw;
    }
}